/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.article-container {
  max-width: 800px;
  margin: 0 auto; 
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center; 
  font-weight: bold;
  color: rgb(218, 3, 3)
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

ul li {
  font-size: 1rem;
}

ul li a {
  text-decoration: none;
  color: #007bff;
}

ul li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

h2 {
  font-size: 2rem;
  margin-top: 40px;
  text-align: center;
}

.comments {
  margin-top: 20px;
}

.comment-form {
  max-width: 900px;
  padding: 30px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-form h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.comment {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment p {
  margin: 5px 0;
}

.comment strong {
  color: #333;
}
input{
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
textarea{
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: rgb(218, 3, 3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}