/* Style the form container */
.form-container {
   width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
  
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
  
.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.form-container .error-message {
    color: #d9534f;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}
  
.form-container input[type="submit"] {
    background-color: rgb(218, 3, 3);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
  
